body {
  margin: 0;
  background-color: #272727;
  font-family: Montserrat, sans-serif;
  line-height: 27px;
    
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll{
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;    
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

/* Header */
.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 5px;
  background-color: transparent;
}

.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  margin-left: 10px;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}

.nav-link {
  position: relative;
  padding: 10px;
  margin: 0 15px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
  transition: width .3s;
}

.nav-link:hover:after {
  width: 100%;
}

/* Intro */
.intro {
  display: block;
  position: relative;
  top: -105px;
  width: 100%;
  height: 100vh;
  background: url(../img/background.png) no-repeat center;
  background-size: 100%;
}

.intro-inner {
  display: flex;
  justify-content: start;
}

.intro-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 999;
}

.intro-info {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  width: 520px;
  z-index: 1000;
  color: #ffffff;
  margin-left: 10px;
}

.intro-info-descr {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
}

.intro-info-title {
  font-size: 72px;
  line-height: 90px;
  font-weight: 800;
  margin: 8px 0;
}

.intro-btns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

/* BTN */
.btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 3px;
  padding: 27px 24px;
  color: #272727;
  background-color: #ffffff;
  transition: all .3s;
}

.other {
  background-color: transparent;
  color: #ffffff;
  padding-left: 42px;
  padding-right: 42px;
}

.btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.other:hover {
  background-color: #ffffff;
  color: #272727;
}

/* Section */
.section {
  padding: 30px 0;
}

/* Pack */
.pack {
  display: flex;
  flex-direction: column;
  margin-top: -105px;
}

/* Benefits */
.benefits {

}

.benefits-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  text-align: right;
  padding: 30px 10px 20px;
}

.benefits-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 875px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 85px;
}

.benefits-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

hr {
  width: 25px;
  height: 2px;
  background-color: #f6c002;
  border: none;
  margin: 14px 15px;
}

.benefits-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #ffffff;
  width: 100%;
  max-width: 307px;
}

.benefits-info-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

.benefits-info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  width: 218px;
}

/* Img Design */
.pack-img {
  position: relative;
  width: 100vw;
  height: 670px;
  object-fit: cover;
  left: -50px;
  top: 0;
  z-index: 999; 
}



