html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #272727;
  font-family: Montserrat, sans-serif;
  line-height: 27px;
}

body.no-scroll{
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;    
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Container */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Header */
.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 5px;
  background-color: transparent;
}

.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  margin-left: 10px;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}

.dark {
  opacity: 0;
  display: none;
}

.nav-link {
  position: relative;
  padding: 10px;
  margin: 0 15px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
  transition: width .3s;
}

.nav-link:hover:after {
  width: 100%;
}

#checkbox,
.burger,
.header-title-mobile {
  display: none;
}

.main {
  position: relative;
  top: -105px;
}

/* Intro */
.intro {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/background.png) no-repeat center;
  background-size: 100%;
}

.intro-inner {
  display: flex;
  justify-content: start;
}

.intro-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 999;
}

.intro-tablet,
.intro-mob {
  display: none;
}

.intro-info {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  width: 520px;
  z-index: 999;
  color: #ffffff;
  margin-left: 10px;
}

.intro-info-descr {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
}

.intro-info-title {
  font-size: 72px;
  line-height: 90px;
  font-weight: 800;
  margin: 8px 0;
}

.intro-btns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

/* BTN */
.btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 3px;
  padding: 27px 24px;
  color: #272727;
  background-color: #ffffff;
  transition: all .3s;
}

.other {
  background-color: transparent;
  color: #ffffff;
  padding-left: 42px;
  padding-right: 42px;
}

.btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.other:hover {
  background-color: #ffffff;
  color: #272727;
}

/* Section */
.section {
  padding: 30px 0;
}

/* Pack */
.pack {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Titles */
.benefits-title,
.services-title, 
.portfolio-title,
.reviews-title,
.blog-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  padding: 30px 10px 20px;
}

/* Benefits */
.benefits-title {
  color: #ffffff;
  text-align: right;
}

.benefits-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 875px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 85px;
}

.benefits-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

hr {
  width: 25px;
  height: 2px;
  background-color: #f6c002;
  border: none;
  margin: 14px 15px;
}

.benefits-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #ffffff;
  width: 100%;
  max-width: 307px;
}

.benefits-info-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

.benefits-info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  width: 218px;
}

/* Img Design */
.container-img {
  height: 80vh;
  width: 100%;
}

.img-parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/img-design-parallax.png);
}

/*.pack-img {
  width: 100%;
  height: 670px;
  object-fit: cover;
  background-attachment: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999; 
} */

/* Pack Info */
.pack-info {
  background-color: #ffffff;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pack-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.pack-info-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #272727;
  padding: 30px 10px 20px;
}

.pack-info-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 562px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.info-text {
  margin-top: 25px;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  padding: 25px 10px;
  width: 100%;
  max-width: 577px;
}

.info-img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 50px 30px;
}

/* Process */
.process-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  padding: 55px 10px 20px;
}

.process-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1050px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.process-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: space-between;
  margin: 65px auto;
 
}

.process-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Circle */
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.circle,
.mask,
.circle-last {
  position: relative;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 160px;
  width: 160px;
  z-index: 8;
}

.mask {
  border: 5px solid rgba(255, 255, 255, 0.3);
  z-index: 9;
}

.circle {
  --b: 5px;
  --w: 162px;
  aspect-ratio: 1;
}
  
.circle:before,
.circle:after {
  content:"";
  position: absolute;
  border-radius: 50%;
  z-index: 10;
}

.circle:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, #DF0B5C 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(#DF0B5C calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.circle:after {
  inset: calc(50% - 7px/2);
  background: #F6C002;
  filter: blur(1px);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  -webkit-transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  animation: p 5s 1s both;
  Animation-iteration-count: infinite;
}

@keyframes p {
  from{--p:0};
}

@-webkit-keyframes p {
  from{--p:0};
}

.circle-title {
  position: absolute; 
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;
  top: 42%;
  left: 55px;
}

.circle-last {
  background: #DF0B5C;
  border: none;
}

/* Process item */
.process-item-title {
  margin-top: 26px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
}

.process-list-item p {
  width: 140px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

/* Process footer */
.proc-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.proc-priсe {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px;
}

.price-btn {
  padding-left: 60px;
  padding-right: 60px;
}

/* Sercices */
.serv {
  position: relative;
  background-color: #ffffff;
}

.services {
  padding-top: 10px;
}

.services-title {
  text-align: left;
}

.services-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 610px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

/* Slider */
.wrapper {
  width: 100%;
  display: flex;
  margin: 30px 0;
  padding: 30px 0;
  justify-content: space-around;
  overflow: hidden;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: 1px;
  margin: 5px;
  cursor: pointer;
  color: #ffffff;
  width: 8%;
  background-color: #272727;
  transition: all ease-in-out .25s;
}

.slide.active {
  width: 76%;
  max-width: 900px;
  cursor: auto;
}

.slide-title,
.title-full {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  margin: 35px 50px;
}

.slide-title {
  transform: rotate(90deg);
}

.slide-full {
  opacity: 0;
  transform: scale(0) translate(-1%, -1%);
  
}

.slide.active > .act {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  transform: scale(1) translate(0, 0);
  transition: transform linear .25s;
}

.slide-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.title-full {
  position: relative;
  margin-top: 50px; 
  margin-right: 10px;
  padding-left: 40px;
  padding-top: 40px;
  width: 450px;
}

.slide.active > .title-off {
 display: none;
}

.title-full:before,
.title-full:after,
.slide-contain:before,
.slide-contain:after {
  content:"";
  position: absolute;
}

.title-full:before,
.title-full:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 300px;
}

.title-full:after {
  width: 300px;
  height: 2px;
}

.slide-list {
  margin-left: 50px;
  padding-left: 55px; 
  list-style: disc;
}

.slide-list li {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.dino {
  list-style: none; 
  padding-left: 40px
}

.slide-priсe {
  position: relative;
  bottom: 0;
  padding: 50px;
  margin-bottom: 40px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.slide-contain {
  width: 100%;
  height: auto;
}

.slide-img {
  position: relative;
  top: 158px;
  left: 48px;
  width: 290px;
  height: 290px;
  padding-right: 40px;
  padding-bottom: 40px;
  object-fit: cover;
}

.slide-contain:before,
.slide-contain:after {
  margin-right: 50px;
  margin-bottom: 50px;
}

.slide-contain:before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 300px;
}

.slide-contain:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.slider-icon {
  position: absolute;
  bottom: 50px;
  left: 25px;
  width: 50px;
  height: 50px;
  transition: left linear .3s;
}

.slide.active > .icon-act {
  left: 50px;
}

/* Portfolio */
.port {
  position: relative;
  background-color: #fafafa;
}

.portfolio {
  background-color: #fafafa;
}

.portfolio-title {
  text-align: right;
}
  
.portfolio-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.portfolio-wrapper {
  width: 100%;
  max-width: 1400px;
  height: 1300px;
  margin: 180px auto 50px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.slider {
  height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.portfolio-wrapper > input {
	display: none;
}

.slides {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 370px);
  justify-content: space-between;
  grid-column-gap: 75px;
  grid-row-gap: 75px;
  position: absolute;
  opacity: 0;
	z-index: 0;
	transition: opacity linear .3s;
}

.slider-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 10px;
  border-radius: 1px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-wrapper .controls {
  margin-top: -140px;
	position: absolute;
}

.portfolio-wrapper label {
	cursor: pointer;
	display: inline-block;
  padding: 20px 30px;
	margin: 30px 60px;
  font-weight: 800;
  font-size: 20px;
  line-height: 10px;
	position: relative;
  border: 2px solid #fafafa;
	transition: border linear .2s;
}

.portfolio-wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4){
	border: 2px solid #272727;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
	transform: opacity linear .3s;
}

/* Reviews */
.rev {
  position: relative;
  background-color: #fff;
}

.reviews {
  padding-top: 10px;
}

.reviews-title {
  text-align: left;
}

.reviews-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 750px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.customers {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.customers-revs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 40px 5px 40px 0;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.revs-slider {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.revs-slider-list {
  position: relative;
  display: flex;
}

.revs-slide-item{
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from { opacity: 0;}
  to { opacity: 1;}
}

.revs-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.revs-avatar {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.revs-header-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin: 15px;
  width: 160px;
}

.revs-mine {
  width: 475px;
  margin: 15px 10px;
}

.revs-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 5px;
  padding-left: 0;
}

.revs-controls {
  margin: 40px auto 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.revs-arrow-left,
.revs-arrow-right {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  transition: opacity linear .2s;
  margin-left: 5px;
  margin-right: 5px;
}

.revs-arrow-left:hover,
.revs-arrow-right:hover {
  opacity: 1;
}

.revs-arrow-left img,
.revs-arrow-right img {
  width: 100%;
  height: auto;
}

.rev-slider-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  background-color: #c4c4c4;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0 8px;
}

.dot-active {
  background: #DF0B5C;
  box-shadow: 0px 0px 10px 5px rgba(223, 11, 92, 0.15);
}

.customers-logos {
  position: relative;
  margin-top: 35px;
  margin-bottom: 40px;
  padding: 10px;
}

.logos {
  display: grid;
  grid-template-columns: 190px 190px 190px;
  grid-column-gap: 25px;
  align-items: center;
}

.logos-img {
  margin: 5px 20px;
  width: 100%;
  max-width: 150px;
  padding: 10px;
  height: auto;
}

.bon-sai {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.bon-sai img {
  margin-top: 30px;
  padding: 5px 0;
}

.bol {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.bol img {
  max-width: 365px;
}

/* Blog */
.blogs {
  position: relative;
 
}

.blog-title {
  color: #ffffff;
  text-align: right;
}

.blog-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 875px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.blog-info {
  text-align: right;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
}

.blog-wrapper {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.blog-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-arrow-left,
.blog-arrow-right {
  width: 40px;
  height: 43px;
  cursor: pointer;
  opacity: 1;
  transition: opacity linear .1s;
}

.blog-arrow-right:hover,
.blog-arrow-left:hover {
  transform: scale(1.1);
}

.no-active {
  opacity: 0.3;
  cursor: auto;
}

.no-active:hover {
  transform: none;
}

.blog-slide-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 450px;
  height: 650px;
  background-color: #ffffff;
  margin: 25px 25px 10px;
  border-radius: 1px;
}

.blog-img {
  width: 100%;
}

.blogs-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 25px;
}

.blog-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  padding: 10px 25px;
}

/* Footer */
.footer {
  background-color: #ffffff;
  position: relative;
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  width: 220px;
  margin-bottom: 10px;
}

.footer-descr {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding: 0 0 15px;
}

.footer-descr:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 356px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.footer-info {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0 10px;
}

.footer-img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.copy p{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 10px;
}

.footer-contact a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  padding: 7px 0 10px;
  display: flex;
  color: #272727;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.contact-icon {
  width: 30px;
  height: 30px;
  position: absolute;
}

.contact-icon-pink {
  position: relative;
  width: 35px;
  height: 35px;
  left: -1px;
  margin-right: 25px;
  background-color: #fff;
  opacity: 0;
}

.footer-contact a:hover .contact-icon-pink {
  opacity: 1;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.social-title:after {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 340px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.socials-icons a {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.social-icon {
  width: 45px;
  height: 45px;
  opacity: 1;
  z-index: 9;
  position: absolute;
}

.social-icon-pink {
  width: 55px;
  height: 55px;
  opacity: 0;
  z-index: 10;
  top: -5px;
  left: -5px;
  position: relative;
  background-color:#fff;
  transform: scale(1);
  transition: all linear .2s;
}

.social-icon-pink:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* Media queries */
@media (min-width: 1700px) {
  /* Container */
  .container {
    max-width: 1700px;
  }

  /* Header */
  .header-title {
    font-size: 24px;
  }

  .nav {
    font-size: 18px;
  }

  /* Intro */
  .intro-info {
    width: 600px;
  }

  .intro-info-descr {
    font-size: 20px;
  }

  .intro-info-title {
    font-size: 76px;
  }

  .btn {
    font-size: 16px;
    padding: 30px 27px;
  }

  .other {
    padding-left: 45px;
    padding-right: 45px;
  }

  /* Pack */
  .icon {
    width: 45px;
    height: 45px;
  }

  hr {
    width: 30px;
  }

  .benefits-info-text {
    font-size: 18px;
    width: 240px;
  }

  .info-text {
    font-size: 20px;
  }

  .process-list {
    grid-template-columns: repeat(6, 180px);
  }

  .circle, 
  .mask, 
  .circle-last  {
    height: 180px;
    width: 180px;
  }

  .circle {
    --w: 182px;
  }

  .circle-title {
    left: 66px;
  }

  .price-btn {
    padding-left: 47px;
    padding-right: 47px;
  }

  /* Services */
  .slide {
    height: 550px;
  }

  .slide-item {
    height: 550px;
  }

  .slide-title,
  .title-full {
    margin: 43px 50px;
  }

  .title-full {
    margin-right: 10px;
  }

  .slider-icon {
    left: 30%;
  }

  .slide.active > .icon-act {
    left: 50px;
  }

  .slide.active {
    max-width: 1000px;
  }

  .slide-priсe {
    margin-bottom: 0px;
  }

  .slide-img {
    width: 340px;
    height: 340px;
    top: 167px;
    left: 107px;
  }

  .slide-contain:before,
  .slide-contain::after {
    margin-right: 40px;
    margin-bottom: 40px;
  }

  /* Portfolio */
  .portfolio-wrapper {
    height: 1540px;
    max-width: 1600px;
  }

  .slides {
    grid-template-columns: repeat(3, 420px);
    grid-column-gap: 70px;
    grid-row-gap: 90px;
  }

  .slider-img {
    width: 400px;
    height: 400px;
  }

  .controls {
    width: 1480px;
  }

  /* Reviews */
  .logos {
    grid-template-columns: 210px 210px 210px;
  }

  .logos-img {
    max-width: 170px;
  }

  .bol img {
    max-width: 405px;
  }

  /* Blog */
  .blog-slide-item {
    max-width: 500px;
    height: 700px;
  }
  
  /* Footer */
  .footer-inner {
    justify-content: space-between;
  }
}

@media (max-width: 1386px) {
  /* Container */
  .container{
    max-width: 1250px;
    padding: 0 20px;
  }

  /* Pack */
  .info-img {
    max-width: 400px;
  }

  .process-title:after {
    width: 1030px;
  }

  .process-list {
    margin: 55px auto;
    grid-template-columns: repeat(6, 150px);
  }

  .circle {
    --w: 152px;
  }

  .circle, 
  .mask, 
  .circle-last {
    height: 150px;
    width: 150px;
  }

  /* Services */
  .slide {
    height: 490px;
  }

  .slide-list {
    margin-left: 40px;
  }

  .slider-icon {
    bottom: 40px;
    left: 25%;
  }

  .slide.active {
    max-width: 850px;
  }

  .slide-item {
    height: 490px;
  }

  .slide-title {
    margin: 25px 40px;
  }

  .title-full {
    margin: 40px;
    margin-right: 5px;
    padding-left: 30px;
    padding-top: 30px;
  }

  .dino {
    padding-left: 30px;
    margin-left: 40px;
  }

  .slide-priсe {
    padding: 40px;
  }

  .slide.active > .icon-act {
    left: 40px;
  }
  
  .slide-contain:before,
  .slide-contain::after {
    margin-bottom: 40px;
    margin-right: 40px;
  }

  .slide-img {
    top: 168px;
    left: 33px;
    width: 280px;
    height: 280px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  /* Portfolio */
  .portfolio-wrapper {
    max-width: 1250px;
    height: 1100px;
    margin-bottom: 30px;
    padding-bottom: 50px;
  }

  .controls {
    width: 95%;
    max-width: 1250px;
  }

  .portfolio-wrapper label {
    margin: 30px;
  }

  .slides {
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
  }

  .slider-img {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  /* Nav */
  .nav-link {
    margin: 0 8px;
  }

  /* Intro */
  .intro-info {
    width: 450px;
  }

  .btn {
    padding-left: 12px;
    padding-right: 12px;
  }

  .other {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Pack */
  .info-img {
    max-width: 350px;
    margin-left: 15px;
    margin-right: 15px;
 }

  .pack-info-text {
    margin-left: 15px;
  }

  .process-title:after {
    width: 940px;
  }

  .pack-info-title:after {
    width: 520px;
  }

  .pack-info-title,
  .process-title {
    font-size: 30px;
  }

  .process-item-title {
    font-size: 18px;
  }

  .price-btn {
    padding-left: 35px;
    padding-right: 35px;
  }

  /* Services */
  .title-full {
    width: 427px;
    margin-bottom: 30px;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .slide.active {
    max-width: 750px;
  }

  .slide-list {
    margin-left: 40px;
    padding-left: 45px;
  }

  .title-full:before,
  .slide-contain:before {
    height: 270px;
  }

  .title-full:after,
  .slide-contain:after {
    width: 270px;
  }

  .slide-contain:before, 
  .slide-contain::after {
    margin-bottom: 30px;
    margin-right: 30px;
 }

  .dino {
    padding-left: 25px;
  }

  .slide-priсe {
    margin-bottom: 30px;
  }

  .slider-icon {
    bottom: 30px;
    left: 20px;
  }

  .slide.active > .icon-act {
    left: 30px;
  }

  .slide-img {
    width: 220px;
    height: 220px;
    top: 237px;
    left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  /* Reviews */
  .logos {
    grid-template-columns: 160px 160px 160px;
    grid-column-gap: 20px;
  }

  .logos-img {
    margin: 5px auto;
  }

  .revs-mine {
    width: 450px;
  }
}

@media (max-width: 1080px) {
  /* Container */
  .container {
    padding: 0 10px;
  }

  /* Header */
  .header-inner {
    height: 80px;
  }

  .header-title {
    font-size: 16px;
    margin-left: 8px;
  }

  .nav {
    font-size: 12px;
  }

  .nav-link {
    padding: 8px;
    margin: 0 5px;
  }
  
  /* Main */
  .main {
    top: -85px;
  }

  /* Intro */
  .intro-info {
    width: 370px;
    margin-left: 8px;
  }

  .intro-info-descr {
    font-size: 14px;
  }

  .intro-info-title {
    font-size: 52px;
    line-height: 70px;
  }

  .intro-btns {
    margin-top: 30px;
  }

  .btn {
    padding: 18px 14px;
    font-size: 10px;
  }

  .other {
    padding-left: 28px;
    padding-right: 28px;
  }

  /* Section */
  .section {
    padding: 20px 0;
  }

  /* Pack */
  .benefits-title,
  .services-title,
  .portfolio-title,
  .reviews-title,
  .blog-title {
    padding: 18px 8px;
    font-size: 26px;
  }

  .benefits-title:after {
    width: 570px;
  }

  .benefits-list {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .benefits-list-item {
    padding: 5px;
  }

  hr {
    width: 15px;
    margin: 14px 10px;
  }

  .benefits-info-title {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 28px;
  }

  .benefits-info {
    max-width: 250px;
  }

  .benefits-info-text {
    font-size: 14px;
    line-height: 28px;
    width: 186px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .pack-info-text {
    margin-left: 8px;
  }

  .pack-info-title,
  .process-title {
    padding: 20px 8px;
    font-size: 23px;
  }

  .pack-info-title:after {
    width: 400px;
  }

  .info-text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
    padding: 15px 8px;
    max-width: 468px;
  }

  .info-img {
    max-width: 340px;
    margin: 40px 8px;
  }

  .process-title {
    padding-top: 40px;
  }

  .process-title:after {
    width: 740px;
  }

  .process-list {
    grid-template-columns: repeat(6, 120px);
  }

  .circle, 
  .mask, 
  .circle-last {
    height: 120px;
    width: 120px;
  }

  .circle {
    --w: 122px;
  }

  .circle-title {
    font-size: 18px;
    top: 40%;
    left: 42px;
  }

  .process-item-title {
    font-size: 14px;
  }

  .process-list-item p {
    font-size: 14px;
    line-height: 20px;
    width: 110px;
  }

  .proc-footer {
    margin-bottom: 15px;
  }

  .proc-priсe {
    font-size: 16px;
    padding: 8px;
  }

  .price-btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Services */
  .services {
    padding-top: 0;
  }

  .services-title:after {
    width: 410px;
  }

  .wrapper {
    margin: 20px 0;
    padding: 20px 0;
  }

  .slide {
    height: 430px;
  }

  .slide-title, 
  .title-full {
    font-size: 19px;
  }

  .slide-title {
    margin: 24px 30px;
  }

  .slider-icon {
    width: 45px;
    height: 45px;
    bottom: 30px;
    left: 23%;
  }

  .slide.active {
    max-width: 605px;
  }

  .slide-item {
    height: 430px;
  }

  .title-full {
    margin: 30px;
    padding-left: 20px;
    padding-top: 20px;
    width: 265px;
  }

  .slide-list {
    margin-left: 30px;
    padding-left: 37px;
  }

  .dino {
    padding-left: 20px;
  }

  .slide-list li {
    font-size: 16px;
  }

  .slide.active > .icon-act {
    left: 30px;
  }

  .slide-priсe {
    padding: 20px 30px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .title-full:before,
  .slide-contain:before {
    height: 250px;
  }

  .title-full:after,
  .slide-contain:after {
    width: 250px;
  }

  .slide-img {
    top: 197px;
    left: 47px;
    width: 200px;
    height: 200px;
  }

  /* Portfolio */
  .portfolio-title:after {
    width: 240px;
  }

  .portfolio-wrapper label {
    margin: 10px;
    padding: 20px 28px;
    font-size: 18px;
  }

  .slider-img {
    width: 225px;
    height: 225px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .portfolio-wrapper {
    height: 795px;
  }

  /* Reviews */
  .reviews-title:after {
    width: 480px;
  }

  .customers-revs {
    margin: 10px;
  }

  .revs-text {
    font-size: 16px;
  }

  .revs-mine {
    width: 370px;
    margin-right: 0px;
  } 

  .revs-header-title {
    font-size: 22px;  
  }

  .logos {
    grid-column-gap: 7px;
    grid-template-columns: 145px 145px 145px;
  }

  /* Blog */
  .blog-title:after {
    width: 490px;
  }

  .blogs-title {
    margin: 20px;
  }

  .blog-text {
    padding: 10px 20px;
    font-size: 13px;
  }

  .blog-info {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .blog-slide-item {
    height: 600px;
  }

  /* Footer */
  .footer-img {
    width: 210px;
    height: 210px;
    margin: 5px;
  }

  .copy p {
    font-weight: 600;
    font-size: 13px;
    margin-top: 5px;
  }

  .social-title {
    font-size: 17px;
    padding-bottom: 20px;
  }

  .social-title:after {
    width: 253px;
  }

  .social-icon-pink {
    width: 45px;
    height: 45px;
  }

  .social-icon {
    width: 35px;
    height: 35px
  }

  .social-icon-pink:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .socials-icons a {
    margin-top: 20px;
  }

  .footer-title {
    font-size: 22px;
    line-height: 29px;
  }

  .footer-descr {
    font-size: 13px;
    padding-bottom: 17px;
  }

  .footer-descr:after {
    width: 273px;
  }

  .footer-info {
    font-size: 12px;
    padding-top: 10px;
  }

  .contact-icon-pink {
    margin-right: 15px;
  }

  .footer-contact a {
    font-size: 16px;
    padding: 5px 0;
  }
} 

@media (max-width: 880px) {
  /* Services */
  .slide.active {
    max-width: 530px;
  }

  .slide-img {
    top: 227px;
    left: 3px;
    width: 170px;
    height: 170px;
  }

  /* Reviews */
  .logos {
    grid-template-columns: 120px 120px 120px;
    grid-column-gap: 5px;
  }

  .logos-img {
    margin: 5px auto;
    padding: 5px;
  }

  .revs-mine {
    width: 339px;
  }
}

@media (max-width: 769px) {
  /* Container */
  .container {
    padding: 0 20px;
  }
  
  /* Header */

  .header {
    position: fixed;
    background: #2727275c;
  }

  .header-inner {
    height: 50px;
  }

  .header-title {
    margin-left: 10px;
  }

  .nav {
    flex-direction: column;
    position: fixed;
    align-items: center;
    background-color: #272727;
    width: 300px;
    height: 100vh;
    font-size: 20px;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transform: translateX(100%);
    justify-content: center;
    transition: transform 0.5s ease-in;
    z-index: 1000;
  }

  .nav-link {
    padding: 10px;
    margin: 15px 5px;
  }

  .dark {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #27272775;
    transition: opacity 0.5s;
  }

  .show {
    transform: translateX(0);
  }

  /* Burger */
  .burger {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 20px;
  }

  .line-main:before,
  .line-main::after,
  .line-split:before,
  .line-split:after {
    content: '';
    position: absolute;
    width: inherit;
    height: 2px;
    background-color: #ffffff;
    transition: transform .5s;
  }

  .line-main:before {
    transform: translateY(-7px);
  }

  .line-main::after {
    transform: translateY(7px);
  }

  .line-split:before,
  .line-split::after {
    width: 10px;
    transition: transform opacity .5s;
  }

  .line-split:after {
    transform: translateX(10px);
  }

  #checkbox:checked~.line-main:before {
    transform: rotate(45deg);
  }

  #checkbox:checked~.line-main:after {
    transform: rotate(-45deg);
  }

  #checkbox:checked~.line-split:before {
    transform: translateX(-10px);
    opacity: 0;
  }

  #checkbox:checked~.line-split:after {
    transform: translateX(20px);
    opacity: 0;
  }

  /* Main */
  .main {
    top: 0;
  }

  /* Intro */
  .intro-img {
    display: none;
  }

  .intro-tablet {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 999;
    display: block;
  }

  .intro-info {
    width: 300px;
    margin-left: 10px;
    top: 45%;
  }

  .intro-info-title {
    font-size: 50px;
    line-height: 60px;
  }

  .intro-info-descr {
    font-size: 13px;
    line-height: 13px;
  }

  .intro-btns {
    flex-direction: column;
    margin-top: 15px;
  }

  .btn {
    margin-bottom: 15px;
  }

  /* Titles */
  .benefits-title, 
  .services-title, 
  .portfolio-title, 
  .reviews-title, 
  .blog-title {
    font-size: 24px;
    padding: 15px 10px;
  }

  /* Pack */
  .benefits-title:after,
  .process-title:after,
  .portfolio-title:after,
  .blog-title:after  {
    width: 93%;
    right: -20px;
  }
  
  .benefits-list {
    margin-top: 40px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-top: 13px;
  }

  hr {
    width: 20px;
    margin: 28px 10px;
  }

  .benefits-list-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .img-parallax {
    height: 400px;
    background-image: url(../img/img-design.png);
    background-attachment: initial;
  }

  .container-img {
    height: initial;
  }

  .info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pack-info-title, 
  .process-title {
    padding: 15px 10px;
    font-size: 20px;
  }

  .pack-info-title::after,
  .services-title:after,
  .reviews-title:after {
    width: 93%;
    left: -30px;
  }

  .pack-info-text {
    margin-left: 10px;
  } 

  .info-text {
    max-width: 95%;
    font-size: 15px;
  }

  .process {
    padding-top: 30px;
  }

  .process-list {
    grid-template-columns: repeat(3, 120px);
    justify-content: space-around;
  }

  .process-list-item {
    margin-bottom: 40px;
  }

  /* Services */
  .wrapper {
    flex-direction: column;
    align-items: center
  }

  .slide {
    height: 70px;
    width: 100%;
    transition: initial;
  }

  .slide-full {
    transform: scale(1) translate(-1%, 100%);
  }

  .slide.active > .act {
    transition: all linear .1s;
  }

  .slide-title {
    transform: rotate(0);
    margin: 20px;
  }

  .slider-icon {
    width: 40px;
    height: 40px;
    bottom: 15px;
    left: calc(100% - 60px);
  }

  .slide.active > .icon-act {
    left: calc(100% - 60px);
  }

  .slide.active {
    width: 100%;
    height: 100%;
    max-width: 750px;
  } 

  .title-full:before, 
  .slide-contain:before,
  .title-full:after, 
  .slide-contain:after,
  .slide-contain {
    display: none;
  }

  .title-full {
    margin: 10px 10px 20px;
    padding-left: 10px;
    padding-top: 10px;
    width: 400px;
  }

  .slide-list {
    margin-left: 10px;
    padding-left: 30px;
  }

  .slide-priсe {
    text-align: left;
  }

  .slide-item {
    height: inherit;
  }

  .slide-priсe {
    padding: 40px 20px 10px;
    margin-bottom: 10px;
  }

  .dino {
    padding-left: 10px;
  }

  /* Portfolio */
  .portfolio-wrapper .controls {
    margin-top: -180px;
  }

  .portfolio-wrapper {
    height: 1060px;
    margin-top: 200px;
  }

  .controls {
    width: 92%;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 60px);
    justify-items: center;
    justify-content: space-around;
  }

  .portfolio-wrapper label {
    margin: 10px 20px;
  }

  .slides {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 5;
    justify-content: space-evenly;
  }

  .invisible {
    display: none;
  }

  /* Reviews */
  .customers {
    flex-direction: column;
  }

  .revs-slider-list {
    justify-content: center;
  }

  .customers-revs {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .logos {
    justify-content: center;
    grid-column-gap: 20px;
  }

  /* Blog */
  .blog-slide-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Footer */
  .footer-inner {
    flex-wrap: wrap;
  }

  .footer-img {
    width: 200px;
    height: 200px;
  }

  .socials {
    margin-top: 20px;
  }
}

@media (max-height: 570px) {
  .intro-info {
    top: 19%;
  }

  .intro-info-title {
    font-size: 35px;
    line-height: 35px;
  }

  .intro-btns {
    margin-top: 10px;
  }

  .btn {
    padding: 14px;
  }

  .other {
    padding-left: 27px;
    padding-right: 27px;
  }

  .intro-info-descr {
    font-size: 12px;
    line-height: 10px;
  }
}

@media (max-width: 524px) {
  /* portfolio */
  .portfolio-wrapper {
    height: 1075px;
    padding-bottom: 12px;
  }

  .slides{
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 2%;
  }

  .slider-img {
    width: 320px;
    height: 320px;
  }

  /* Rev */
  .logos-img {
    margin: 3px;
    padding: 3px;
  } 

  /* Serv */
  .title-full {
    width: 370px;
  }

  .slide {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Footer */
  .footer-inner {
    flex-direction: column;
  }

  .copy {
    order: 1;
  }

  .socials {
    margin-top: 40px;
  }

  .footer-img {
    margin-top: 40px;
  }
}

@media (max-width: 430px) {
  .page {
    overflow-x: hidden;
  }
  /* Container */
  .container {
    padding: 0 10px;
  }

  /* Header */
  .header-title {
    opacity: 0;
  }

  .nav {
    font-size: 15px;
  }

  .header-title-mobile {
    display: initial;
    font-weight: 700;
    color: #ffffff;
    line-height: 17px;
    font-size: 14px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity ease-in-out .3s;
  }

  .show > .header-title-mobile {
    opacity: 1;
    transition: opacity ease-in-out .3s;
  }

  /* Intro */
  .intro-tablet {
    display: none;
  }

  .intro-mob {
    display: initial;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 999;
  }

  .intro-info {
    align-items: center;
    top: 47px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: calc(100vh - 80px);
  }

  .intro-info-title {
    order: -1;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 170px;
  }

  .intro-info-descr {
    font-size: 12px;
    line-height: 15px;
    margin-top: 7px;
  }

  .intro-btns {
    margin-top: auto;
    font-size: 10px;
    line-height: 12px;
  }

  .btn {
    padding: 16px 18px;
  }

  .other {
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.7);
    color: #272727;
  }

  /* Titles */
  .benefits-title, 
  .services-title, 
  .portfolio-title, 
  .reviews-title, 
  .blog-title {
    font-size: 21px;
    line-height: 30px;
    padding: 10px;
  }

  .benefits-title:after,
  .process-title:after,
  .portfolio-title:after,
  .blog-title:after  {
    right: -10px;
  }

  .pack-info-title::after, 
  .services-title:after, 
  .reviews-title:after {
    left: -10px;
  }

  /* Pack */
  .benefits-info-title {
    font-size: 16px;
  }

  hr {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .container-img {
    width: 100%;
  }

  .img-parallax {
    height: 230px;
    
  }

  .pack-info-text {
    margin-left: 0;
  }

  .pack-info-title {
    padding-top: 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .info-text {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    text-align: justify;
    margin: 30px auto 10px;
  }

  .info-img {
    margin-left: 10px;
    margin-right: 10px;
  }

  .process-title {
    font-size: 16px;
    line-height: 27px;
    padding-left: 20px;
  }

  .process-list {
    grid-template-columns: repeat(2, 120px);
    margin-bottom: 25px;
  }

  .proc-footer {
    display: flex;
    flex-direction: column;
  }

  .proc-priсe {
    margin-bottom: 25px;
  }

  .price-btn {
    padding-left: 46px;
    padding-right: 46px;
  }

  /* Services */
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .slide {
    height: 50px;
  }

  .slide-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    margin: 10px;
  }

  .slider-icon {
    bottom: 5px;
    left: calc(100% - 50px);
  }

  .slide.active > .icon-act {
    left: calc(100% - 50px);
  }

  .title-full {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0;
    padding-top: 10px;
    width: 260px;
  }

  .slide-list {
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .slide-priсe {
    padding: 35px 10px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .slide.active > .icon-act {
    bottom: 10px;
  }

  .serv-info,
  .blog-info {
    padding: 10px 10px 30px;
    font-size: 14px;
    line-height: 22px;
    width: 298px;
    margin-left: calc(100% - 298px);
  }

  .dino {
    padding-left: 0px;
  }

  /* Portfolio */
  .portfolio-wrapper {
    height: 400px;
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio-wrapper label {
    font-size: 14px;
    padding: 16px 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .slides {
    grid-template-columns: repeat(9, 100%);
    transform: translateX(0pt);
    column-gap: 10px;
  }

  .controls {
    width: 100%;
  }

  .portfolio-title {
    padding-right: 20px;
  }

  .portfolio-img {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }

  /* Reviews */
  .revs-avatar {
    width: 85px;
    height: 85px;
    padding: 5px;
    margin-left: 0;
  }

  .revs-header-title {
    font-size: 14px;
    line-height: 17px;
  }

  .revs-mine {
    width: 280px;
    margin: 0;
  }

  .customers-revs {
    margin: 10px auto;
  }

  .revs-text {
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
  }

  .logos {
    grid-template-columns: 30% 30% 30%;
  }

  .customers-logos {
    margin-bottom: 25px;
    margin-top: 30px;
  }

  /* Blog */
  .blog-info {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .blog-wrapper {
    margin-top: 10px;
  }

  .blog-slide-item {
    margin-left: auto;
    margin-right: auto;
  } 

  .blog-arrow-left, 
  .blog-arrow-right {
    position: absolute;
    top: 103%;  
    width: 30px;
  }

  .blog-arrow-left {
    left: 20%;
  }

  .blog-arrow-right {
    right: 20%;
  }

  .blog-arrow-left img, 
  .blog-arrow-right img {
    width: 30px;
    height: 30px;
  }

  .blog-slide-item {
    height: auto;
  }

  .blogs-title {
    font-size: 14px;
    line-height: 27px;
  }

  .blog-text {
    font-size: 12px;
    line-height: 22px;
    padding: 10px;
    padding-bottom: 50px;
    text-align: justify;
  }

  /* Footer */
  .footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .footer-title {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin: auto;
  }

  .footer-descr {
    font-size: 14px;
    padding-bottom: 17px;
    padding-top: 15px;
    padding-left: 55px;
    text-align: center;
    padding-right: 55px;
  }

  .footer-descr:after {
    width: 93%;
    left: -10px;
  }

  .footer-info {
    text-align: center;
  }

  .footer-contact {
    margin: auto;
  }

  .footer-contact a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .social-title {
    font-size: 14px;
    line-height: 17px;
    padding: 17px 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .social-title:after {
    width: 100%;
    left: -2px;
  }

  .social-icon {
    width: 30px;
    height: 30px;
  }

  .social-icon-pink {
    width: 40px;
    height: 40px;
  }
}













