html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #272727;
  font-family: Montserrat, sans-serif;
  line-height: 27px;
}

body.no-scroll{
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;    
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Container */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Header */
.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 5px;
  background-color: transparent;
}

.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  margin-left: 10px;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}

.nav-link {
  position: relative;
  padding: 10px;
  margin: 0 15px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
  transition: width .3s;
}

.nav-link:hover:after {
  width: 100%;
}

/* Intro */
.intro {
  display: block;
  position: relative;
  top: -105px;
  width: 100%;
  height: 100vh;
  background: url(../img/background.png) no-repeat center;
  background-size: 100%;
}

.intro-inner {
  display: flex;
  justify-content: start;
}

.intro-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 999;
}

.intro-info {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  width: 520px;
  z-index: 1000;
  color: #ffffff;
  margin-left: 10px;
}

.intro-info-descr {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
}

.intro-info-title {
  font-size: 72px;
  line-height: 90px;
  font-weight: 800;
  margin: 8px 0;
}

.intro-btns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

/* BTN */
.btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 3px;
  padding: 27px 24px;
  color: #272727;
  background-color: #ffffff;
  transition: all .3s;
}

.other {
  background-color: transparent;
  color: #ffffff;
  padding-left: 42px;
  padding-right: 42px;
}

.btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.other:hover {
  background-color: #ffffff;
  color: #272727;
}

/* Section */
.section {
  padding: 30px 0;
}

/* Pack */
.pack {
  display: flex;
  flex-direction: column;
  margin-top: -105px;
}

/* Benefits */
.benefits-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  text-align: right;
  padding: 30px 10px 20px;
}

.benefits-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 875px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 85px;
}

.benefits-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

hr {
  width: 25px;
  height: 2px;
  background-color: #f6c002;
  border: none;
  margin: 14px 15px;
}

.benefits-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #ffffff;
  width: 100%;
  max-width: 307px;
}

.benefits-info-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

.benefits-info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  width: 218px;
}

/* Img Design */
.container-img {
  position: relative;
  height: 670px;
  width: 100%;
}

.pack-img {
  width: 100%;
  height: 670px;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999; 
}

/* Pack Info */
.pack-info {
  background-color: #ffffff;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pack-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.pack-info-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #272727;
  padding: 30px 10px 20px;
}

.pack-info-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 562px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.info-text {
  margin-top: 25px;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  padding: 25px 10px;
  width: 100%;
  max-width: 577px;
}

.info-img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 50px 30px;
}

/* Process */
.process-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  padding: 55px 10px 20px;
}

.process-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1050px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.process-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: space-between;
  margin: 65px auto;
 
}

.process-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Circle */
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.circle,
.mask,
.circle-last {
  position: relative;
  background: transparent;
  /*border: 5px solid rgba(255, 255, 255, 0.3);*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 160px;
  width: 160px;
  z-index: 8;
}

.mask {
  border: 5px solid rgba(255, 255, 255, 0.3);
  z-index: 9;
}

.circle {
  --b: 5px;
  --w: 160px;
  aspect-ratio: 1;
}
  
.circle:before,
.circle:after {
  content:"";
  position: absolute;
  border-radius: 50%;
  z-index: 10;
}

.circle:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, #DF0B5C 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(#DF0B5C calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.circle:after {
  inset: calc(50% - 7px/2);
  background: #F6C002;
  filter: blur(1px);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  animation: p 1s 10s both;
}

@keyframes p {
  from{--p:0}
}

.circle-title {
  position: absolute; 
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  top: 42%;
  left: 55px;
}

.circle-last {
  background: #DF0B5C;
  border: none;
}

/* Process item */
.process-item-title {
  margin-top: 26px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.process-list-item p {
  width: 140px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

/* Process footer */
.proc-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.proc-priсe {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px;
}

.price-btn {
  padding-left: 60px;
  padding-right: 60px;
}

/* Sercices */
.serv {
  margin-top: -15px;
}

.services {
  background-color: #ffffff;
  padding-top: 30px;
}

.services-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  color: #272727;
  text-align: left;
  padding: 30px 10px 20px;
}

.services-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 610px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

/* Slider */
.wrapper {
  width: 100%;
  display: flex;
  margin: 30px 0;
  padding: 30px 0;
  justify-content: space-around;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: 1px;
  margin: 5px;
  cursor: pointer;
  color: #ffffff;
  width: 8%;
  max-width: 100px;
  background-color: #272727;
  transition: all 500ms ease-in-out;
}

.slide.active {
  width: 76%;
  max-width: 900px;
  cursor: auto;
}

.slide-title,
.title-full {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  margin: 35px 50px;
}

.slide-title {
  transform: rotate(90deg);
}

.slide-full {
  display: none;
}

.act {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.title-full {
  position: relative;
  margin-top: 50px; 
  margin-right: 10px;
  padding-left: 40px;
  padding-top: 40px;
  width: 450px;
}

.title-off {
  display: none;
}

.title-full:before,
.title-full:after {
  content:"";
  position: absolute;
}

.title-full:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 300px;
}

.title-full:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}

.slide-list {
  margin-left: 50px;
  padding-left: 55px; 
  list-style: disc;
}

.slide-list li {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.slide-priсe {
  position: relative;
  bottom: 0;
  padding: 50px;
  margin-bottom: 40px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.slide-contain {
  position: relative;
  width: 100%;
  height: auto;
  margin: 50px 50px 50px 10px;
  padding: 40px;
}

.slide-img {
  position: relative;
  top: 70px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.slide-contain:before,
.slide-contain:after {
  content:"";
  position: absolute;
}

.slide-contain:before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 300px;
}

.slide-contain:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  content: ' ';
  color: transparent;
  background: #ffffff;
  height: 2px;
}


.slider-icon {
  position: absolute;
  bottom: 50px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.icon-act {
  left: 50px;
}

.serv-info {
  text-align: right;
  padding: 10px;
  padding-bottom: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #272727;
}

/* Portfolio */
.portfolio {
  background-color: #fafafa;
  padding-top: 30px;
  margin-top: -60px;
}

.portfolio-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  color: #272727;
  text-align: right;
  padding: 30px 10px 20px;
}
  
.portfolio-title:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  content: ' ';
  color: transparent;
  background: #272727;
  height: 2px;
}

.portfolio-wrapper {
  width: 100%;
  max-width: 1400px;
  height: 1400px;
  margin: 180px auto 50px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.slider {
  height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.portfolio-wrapper > input {
	display: none;
}

.slides {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 370px);
  justify-content: space-between;
  grid-column-gap: 75px;
  grid-row-gap: 75px;
  position: absolute;
  opacity: 0;
	z-index: 0;
	transition: opacity linear .3s;
}

.slider-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 10px;
  border-radius: 1px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-wrapper .controls {
  margin-top: -140px;
	position: absolute;
}

.portfolio-wrapper label {
	cursor: pointer;
	display: inline-block;
  padding: 20px 30px;
	margin: 30px 60px;
  font-weight: 800;
  font-size: 20px;
  line-height: 10px;
	position: relative;
  border: 2px solid #fafafa;
	transition: border linear .2s;
}

.portfolio-wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4){
	border: 2px solid #272727;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
	transform: opacity linear .3s;
}









